<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_kernAlpha</key>
  <array>
    <string>grCapAlpha</string>
    <string>grCapAlphaWVrachy</string>
    <string>grCapAlphaWMacron</string>
  </array>
  <key>_kernAlphaRight</key>
  <array>
    <string>grCapAlphaWTonos</string>
    <string>grCapAlphaWPsili</string>
    <string>grCapAlphaWDasia</string>
    <string>grCapAlphaWPsiliVaria</string>
    <string>grCapAlphaWDasiaVaria</string>
    <string>grCapAlphaWPsiliOxia</string>
    <string>grCapAlphaWDasiaOxia</string>
    <string>grCapAlphaWPsiliPeris</string>
    <string>grCapAlphaWDasiaPeris</string>
    <string>grCapAlphaWVaria</string>
    <string>grCapAlphaWOxia</string>
    <string>grCapAlphaWPsiliPeris.altd</string>
    <string>grCapAlphaWDasiaPeris.altd</string>
  </array>
  <key>_kernEpsilon</key>
  <array>
    <string>grCapEpsilon</string>
    <string>grCapEpsilonWTonos</string>
    <string>grCapEpsilonWPsili</string>
    <string>grCapEpsilonWDasia</string>
    <string>grCapEpsilonWPsiliVaria</string>
    <string>grCapEpsilonWDasiaVaria</string>
    <string>grCapEpsilonWPsiliOxia</string>
    <string>grCapEpsilonWDasiaOxia</string>
    <string>grCapEpsilonWVaria</string>
    <string>grCapEpsilonWOxia</string>
  </array>
  <key>_kernEta</key>
  <array>
    <string>grCapEta</string>
    <string>grCapEtaWTonos</string>
    <string>grCapEtaWPsili</string>
    <string>grCapEtaWDasia</string>
    <string>grCapEtaWPsiliVaria</string>
    <string>grCapEtaWDasiaVaria</string>
    <string>grCapEtaWPsiliOxia</string>
    <string>grCapEtaWDasiaOxia</string>
    <string>grCapEtaWPsiliPeris</string>
    <string>grCapEtaWDasiaPeris</string>
    <string>grCapEtaWVaria</string>
    <string>grCapEtaWOxia</string>
    <string>grCapEtaWPsiliPeris.altd</string>
    <string>grCapEtaWDasiaPeris.altd</string>
  </array>
  <key>_kernIota</key>
  <array>
    <string>grCapIota</string>
    <string>grCapIotaWTonos</string>
    <string>grCapIotaWDial</string>
    <string>grCapIotaWPsili</string>
    <string>grCapIotaWDasia</string>
    <string>grCapIotaWPsiliVaria</string>
    <string>grCapIotaWDasiaVaria</string>
    <string>grCapIotaWPsiliOxia</string>
    <string>grCapIotaWDasiaOxia</string>
    <string>grCapIotaWPsiliPeris</string>
    <string>grCapIotaWDasiaPeris</string>
    <string>grCapIotaWVrachy</string>
    <string>grCapIotaWMacron</string>
    <string>grCapIotaWVaria</string>
    <string>grCapIotaWOxia</string>
    <string>grCapIotaWPsiliPeris.altd</string>
    <string>grCapIotaWDasiaPeris.altd</string>
  </array>
  <key>_kernLftQuot</key>
  <array>
    <string>LftDblQuotMrk</string>
    <string>LftSglQuotMrk</string>
  </array>
  <key>_kernOmegaRight</key>
  <array>
    <string>grCapOmegaWTonos</string>
    <string>grCapOmegaWPsili</string>
    <string>grCapOmegaWDasia</string>
    <string>grCapOmegaWPsiliVaria</string>
    <string>grCapOmegaWDasiaVaria</string>
    <string>grCapOmegaWPsiliOxia</string>
    <string>grCapOmegaWDasiaOxia</string>
    <string>grCapOmegaWPsiliPeris</string>
    <string>grCapOmegaWDasiaPeris</string>
    <string>grCapOmegaWVaria</string>
    <string>grCapOmegaWOxia</string>
    <string>grCapOmegaWPsiliPeris.altd</string>
    <string>grCapOmegaWDasiaPeris.altd</string>
  </array>
  <key>_kernOmicronRight</key>
  <array>
    <string>grCapOmicronWTonos</string>
    <string>grCapOmicronWPsili</string>
    <string>grCapOmicronWDasia</string>
    <string>grCapOmicronWPsiliVaria</string>
    <string>grCapOmicronWDasiaVaria</string>
    <string>grCapOmicronWPsiliOxia</string>
    <string>grCapOmicronWDasiaOxia</string>
    <string>grCapOmicronWVaria</string>
    <string>grCapOmicronWOxia</string>
  </array>
  <key>_kernRtQuot</key>
  <array>
    <string>RtDblQuotMrk</string>
    <string>RtSglQuotMrk</string>
  </array>
  <key>_kernStop</key>
  <array>
    <string>FullStop</string>
    <string>Comma</string>
  </array>
  <key>_kernUpsilon</key>
  <array>
    <string>grCapUpsilon</string>
    <string>grCapUpsilonWDial</string>
    <string>grCapUpsilonWVrachy</string>
    <string>grCapUpsilonWMacron</string>
  </array>
  <key>_kernUpsilonRight</key>
  <array>
    <string>grCapUpsilonWTonos</string>
    <string>grCapUpsilonWDasia</string>
    <string>grCapUpsilonWDasiaVaria</string>
    <string>grCapUpsilonWDasiaOxia</string>
    <string>grCapUpsilonWDasiaPeris</string>
    <string>grCapUpsilonWVaria</string>
    <string>grCapUpsilonWOxia</string>
    <string>grCapUpsilonWDasiaPeris.altd</string>
  </array>
  <key>_kernalpha</key>
  <array>
    <string>grSmlAlpha</string>
    <string>grSmlAlphaWTonos</string>
    <string>grSmlAlphaWVaria</string>
    <string>grSmlAlphaWOxia</string>
    <string>grSmlAlphaWVrachy</string>
    <string>grSmlAlphaWMacron</string>
    <string>grSmlAlphaWVariaYpo</string>
    <string>grSmlAlphaWYpo</string>
    <string>grSmlAlphaWOxiaYpo</string>
    <string>grSmlAlphaWPeris</string>
    <string>grSmlAlphaWPerisYpo</string>
    <string>grSmlAlphaWPeris.altd</string>
    <string>grSmlAlphaWPerisYpo.altd</string>
  </array>
  <key>_kernalphaBr</key>
  <array>
    <string>grSmlAlphaWPsili</string>
    <string>grSmlAlphaWDasia</string>
    <string>grSmlAlphaWPsiliVaria</string>
    <string>grSmlAlphaWDasiaVaria</string>
    <string>grSmlAlphaWPsiliOxia</string>
    <string>grSmlAlphaWDasiaOxia</string>
    <string>grSmlAlphaWPsiliPeris</string>
    <string>grSmlAlphaWDasiaPeris</string>
    <string>grSmlAlphaWPsiliYpo</string>
    <string>grSmlAlphaWDasiaYpo</string>
    <string>grSmlAlphaWPsiliVariaYpo</string>
    <string>grSmlAlphaWDasiaVariaYpo</string>
    <string>grSmlAlphaWPsiliOxiaYpo</string>
    <string>grSmlAlphaWDasiaOxiaYpo</string>
    <string>grSmlAlphaWPsiliPerisYpo</string>
    <string>grSmlAlphaWDasiaPerisYpo</string>
    <string>grSmlAlphaWPsiliPeris.altd</string>
    <string>grSmlAlphaWDasiaPeris.altd</string>
    <string>grSmlAlphaWPsiliPerisYpo.altd</string>
    <string>grSmlAlphaWDasiaPerisYpo.altd</string>
  </array>
  <key>_kernepsilon</key>
  <array>
    <string>grSmlEpsilon</string>
    <string>grSmlEpsilonWTonos</string>
    <string>grSmlEpsilonWVaria</string>
    <string>grSmlEpsilonWOxia</string>
  </array>
  <key>_kernepsilonBr</key>
  <array>
    <string>grSmlEpsilonWPsili</string>
    <string>grSmlEpsilonWDasia</string>
    <string>grSmlEpsilonWPsiliVaria</string>
    <string>grSmlEpsilonWDasiaVaria</string>
    <string>grSmlEpsilonWPsiliOxia</string>
    <string>grSmlEpsilonWDasiaOxia</string>
  </array>
  <key>_kerneta</key>
  <array>
    <string>grSmlEta</string>
    <string>grSmlEtaWVaria</string>
    <string>grSmlEtaWOxia</string>
    <string>grSmlEtaWVariaYpo</string>
    <string>grSmlEtaWYpo</string>
    <string>grSmlEtaWOxiaYpo</string>
    <string>grSmlEtaWPeris</string>
    <string>grSmlEtaWPerisYpo</string>
    <string>grSmlEtaWPeris.altd</string>
    <string>grSmlEtaWPerisYpo.altd</string>
  </array>
  <key>_kernetaBr</key>
  <array>
    <string>grSmlEtaWPsili</string>
    <string>grSmlEtaWDasia</string>
    <string>grSmlEtaWPsiliVaria</string>
    <string>grSmlEtaWDasiaVaria</string>
    <string>grSmlEtaWPsiliOxia</string>
    <string>grSmlEtaWDasiaOxia</string>
    <string>grSmlEtaWPsiliPeris</string>
    <string>grSmlEtaWDasiaPeris</string>
    <string>grSmlEtaWPsiliYpo</string>
    <string>grSmlEtaWDasiaYpo</string>
    <string>grSmlEtaWPsiliVariaYpo</string>
    <string>grSmlEtaWDasiaVariaYpo</string>
    <string>grSmlEtaWPsiliOxiaYpo</string>
    <string>grSmlEtaWDasiaOxiaYpo</string>
    <string>grSmlEtaWPsiliPerisYpo</string>
    <string>grSmlEtaWDasiaPerisYpo</string>
    <string>grSmlEtaWPsiliPeris.altd</string>
    <string>grSmlEtaWDasiaPeris.altd</string>
    <string>grSmlEtaWPsiliPerisYpo.altd</string>
    <string>grSmlEtaWDasiaPerisYpo.altd</string>
  </array>
  <key>_kerniota</key>
  <array>
    <string>grSmlIota</string>
    <string>grSmlIotaWTonos</string>
    <string>grSmlIotaWVaria</string>
    <string>grSmlIotaWOxia</string>
    <string>grPros</string>
    <string>grSmlIotaWVrachy</string>
    <string>grSmlIotaWMacron</string>
    <string>grSmlIotaWPeris</string>
    <string>grSmlIotaWPeris.altd</string>
  </array>
  <key>_kerniotaBr</key>
  <array>
    <string>grSmlIotaWPsili</string>
    <string>grSmlIotaWDasia</string>
    <string>grSmlIotaWPsiliVaria</string>
    <string>grSmlIotaWDasiaVaria</string>
    <string>grSmlIotaWPsiliOxia</string>
    <string>grSmlIotaWDasiaOxia</string>
    <string>grSmlIotaWPsiliPeris</string>
    <string>grSmlIotaWDasiaPeris</string>
    <string>grSmlIotaWPsiliPeris.altd</string>
    <string>grSmlIotaWDasiaPeris.altd</string>
  </array>
  <key>_kerniotaDial</key>
  <array>
    <string>grSmlIotaWDial</string>
    <string>grSmlIotaWDialTonos</string>
    <string>grSmlIotaWDialVaria</string>
    <string>grSmlIotaWDialOxia</string>
    <string>grSmlIotaWDialPeris</string>
    <string>grSmlIotaWDialPeris.altd</string>
  </array>
  <key>_kernomega</key>
  <array>
    <string>grSmlOmega</string>
    <string>grSmlOmegaWTonos</string>
    <string>grSmlOmegaWVaria</string>
    <string>grSmlOmegaWOxia</string>
    <string>grSmlOmegaWVariaYpo</string>
    <string>grSmlOmegaWYpo</string>
    <string>grSmlOmegaWOxiaYpo</string>
    <string>grSmlOmegaWPeris</string>
    <string>grSmlOmegaWPerisYpo</string>
    <string>grSmlOmegaWPeris.altd</string>
    <string>grSmlOmegaWPerisYpo.altd</string>
  </array>
  <key>_kernomegaBr</key>
  <array>
    <string>grSmlOmegaWPsili</string>
    <string>grSmlOmegaWDasia</string>
    <string>grSmlOmegaWPsiliVaria</string>
    <string>grSmlOmegaWDasiaVaria</string>
    <string>grSmlOmegaWPsiliOxia</string>
    <string>grSmlOmegaWDasiaOxia</string>
    <string>grSmlOmegaWPsiliPeris</string>
    <string>grSmlOmegaWDasiaPeris</string>
    <string>grSmlOmegaWPsiliYpo</string>
    <string>grSmlOmegaWDasiaYpo</string>
    <string>grSmlOmegaWPsiliVariaYpo</string>
    <string>grSmlOmegaWDasiaVariaYpo</string>
    <string>grSmlOmegaWPsiliOxiaYpo</string>
    <string>grSmlOmegaWDasiaOxiaYpo</string>
    <string>grSmlOmegaWPsiliPerisYpo</string>
    <string>grSmlOmegaWDasiaPerisYpo</string>
    <string>grSmlOmegaWPsiliPeris.altd</string>
    <string>grSmlOmegaWDasiaPeris.altd</string>
    <string>grSmlOmegaWPsiliPerisYpo.altd</string>
    <string>grSmlOmegaWDasiaPerisYpo.altd</string>
  </array>
  <key>_kernomicron</key>
  <array>
    <string>grSmlOmicron</string>
    <string>grSmlOmicronWTonos</string>
    <string>grSmlOmicronWVaria</string>
    <string>grSmlOmicronWOxia</string>
  </array>
  <key>_kernomicronBr</key>
  <array>
    <string>grSmlOmicronWPsili</string>
    <string>grSmlOmicronWDasia</string>
    <string>grSmlOmicronWPsiliVaria</string>
    <string>grSmlOmicronWDasiaVaria</string>
    <string>grSmlOmicronWPsiliOxia</string>
    <string>grSmlOmicronWDasiaOxia</string>
  </array>
  <key>_kernrhoBr</key>
  <array>
    <string>grSmlRhoWPsili</string>
    <string>grSmlRhoWDasia</string>
  </array>
  <key>_kernupsilon</key>
  <array>
    <string>grSmlUpsilon</string>
    <string>grSmlUpsilonWTonos</string>
    <string>grSmlUpsilonWPsili</string>
    <string>grSmlUpsilonWDasia</string>
    <string>grSmlUpsilonWPsiliVaria</string>
    <string>grSmlUpsilonWDasiaVaria</string>
    <string>grSmlUpsilonWPsiliOxia</string>
    <string>grSmlUpsilonWDasiaOxia</string>
    <string>grSmlUpsilonWPsiliPeris</string>
    <string>grSmlUpsilonWDasiaPeris</string>
    <string>grSmlUpsilonWVaria</string>
    <string>grSmlUpsilonWOxia</string>
    <string>grSmlUpsilonWVrachy</string>
    <string>grSmlUpsilonWMacron</string>
    <string>grSmlUpsilonWPeris</string>
    <string>grSmlUpsilonWPeris.altd</string>
  </array>
  <key>_kernupsilonBr</key>
  <array>
    <string>grSmlUpsilonWPsili</string>
    <string>grSmlUpsilonWDasia</string>
    <string>grSmlUpsilonWPsiliVaria</string>
    <string>grSmlUpsilonWDasiaVaria</string>
    <string>grSmlUpsilonWPsiliOxia</string>
    <string>grSmlUpsilonWDasiaOxia</string>
    <string>grSmlUpsilonWPsiliPeris</string>
    <string>grSmlUpsilonWDasiaPeris</string>
    <string>grSmlUpsilonWPsiliPeris.altd</string>
    <string>grSmlUpsilonWDasiaPeris.altd</string>
  </array>
  <key>_kernupsilonDial</key>
  <array>
    <string>grSmlUpsilonWDial</string>
    <string>grSmlUpsilonWDialTonos</string>
    <string>grSmlUpsilonWDialVaria</string>
    <string>grSmlUpsilonWDialOxia</string>
    <string>grSmlUpsilonWDialPeris</string>
    <string>grSmlUpsilonWDialPeris.altd</string>
  </array>
</dict>
</plist>
