<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>421</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>131</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>braceleft</string>
    <string>verticalbar</string>
    <string>braceright</string>
    <string>sterling</string>
    <string>guillemotleft</string>
    <string>plusminus</string>
    <string>periodcentered</string>
    <string>guillemotright</string>
    <string>multiply</string>
    <string>divide</string>
    <string>uni0591</string>
    <string>uni0592</string>
    <string>uni0593</string>
    <string>uni0594</string>
    <string>uni0595</string>
    <string>uni0596</string>
    <string>uni0597</string>
    <string>uni0598</string>
    <string>uni0599</string>
    <string>uni059A</string>
    <string>uni059B</string>
    <string>uni059C</string>
    <string>uni059D</string>
    <string>uni059E</string>
    <string>uni059F</string>
    <string>uni05A0</string>
    <string>uni05A1</string>
    <string>uni05A3</string>
    <string>uni05A4</string>
    <string>uni05A5</string>
    <string>uni05A6</string>
    <string>uni05A7</string>
    <string>uni05A8</string>
    <string>uni05A9</string>
    <string>uni05AA</string>
    <string>uni05AB</string>
    <string>uni05AC</string>
    <string>uni05AD</string>
    <string>uni05AE</string>
    <string>uni05AF</string>
    <string>shevahebrew</string>
    <string>hatafsegolhebrew</string>
    <string>hatafpatahhebrew</string>
    <string>hatafqamatshebrew</string>
    <string>hiriqhebrew</string>
    <string>tserehebrew</string>
    <string>segolhebrew</string>
    <string>patahhebrew</string>
    <string>qamatshebrew</string>
    <string>holamhebrew</string>
    <string>qubutshebrew</string>
    <string>dageshhebrew</string>
    <string>afii57839</string>
    <string>afii57645</string>
    <string>rafehebrew</string>
    <string>afii67842</string>
    <string>afii57804</string>
    <string>afii57803</string>
    <string>afii57658</string>
    <string>uni05C4</string>
    <string>alefhebrew</string>
    <string>bethebrew</string>
    <string>gimelhebrew</string>
    <string>dalethebrew</string>
    <string>hehebrew</string>
    <string>vavhebrew</string>
    <string>zayinhebrew</string>
    <string>hethebrew</string>
    <string>tethebrew</string>
    <string>yodhebrew</string>
    <string>finalkafhebrew</string>
    <string>kafhebrew</string>
    <string>lamedhebrew</string>
    <string>finalmemhebrew</string>
    <string>memhebrew</string>
    <string>finalnunhebrew</string>
    <string>nunhebrew</string>
    <string>samekhhebrew</string>
    <string>ayinhebrew</string>
    <string>finalpehebrew</string>
    <string>pehebrew</string>
    <string>finaltsadihebrew</string>
    <string>tsadihebrew</string>
    <string>qofhebrew</string>
    <string>reshhebrew</string>
    <string>shinhebrew</string>
    <string>tavhebrew</string>
    <string>afii57716</string>
    <string>afii57717</string>
    <string>afii57718</string>
    <string>uni05F3</string>
    <string>uni05F4</string>
    <string>endash</string>
    <string>emdash</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>bullet</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>sheqelhebrew</string>
    <string>Euro</string>
    <string>minus</string>
    <string>radical</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>uniFB1D</string>
    <string>uniFB1E</string>
    <string>uniFB1F</string>
    <string>uniFB20</string>
    <string>uniFB21</string>
    <string>uniFB22</string>
    <string>uniFB23</string>
    <string>uniFB24</string>
    <string>uniFB25</string>
    <string>uniFB26</string>
    <string>uniFB27</string>
    <string>uniFB28</string>
    <string>shinshindothebrew</string>
    <string>shinsindothebrew</string>
    <string>shindageshshindothebrew</string>
    <string>shindageshsindothebrew</string>
    <string>uniFB2E.001</string>
    <string>uniFB2E</string>
    <string>uniFB30</string>
    <string>betdageshhebrew</string>
    <string>gimeldageshhebrew</string>
    <string>daletdageshhebrew</string>
    <string>hedageshhebrew</string>
    <string>vavdageshhebrew</string>
    <string>zayindageshhebrew</string>
    <string>tetdageshhebrew</string>
    <string>yoddageshhebrew</string>
    <string>finalkafdageshhebrew</string>
    <string>kafdageshhebrew</string>
    <string>lameddageshhebrew</string>
    <string>memdageshhebrew</string>
    <string>nundageshhebrew</string>
    <string>samekhdageshhebrew</string>
    <string>pedageshhebrew</string>
    <string>tsadidageshhebrew</string>
    <string>qofdageshhebrew</string>
    <string>shindageshhebrew</string>
    <string>tavdageshhebrew</string>
    <string>vavholamhebrew</string>
    <string>uniFB4F</string>
    <string>shekel.salt</string>
    <string>six.001</string>
    <string>seven.001</string>
    <string>two.001</string>
    <string>one.001</string>
    <string>four.001</string>
    <string>three.001</string>
    <string>nine.001</string>
    <string>qamatsqatanhebrew</string>
    <string>vavdagesh65</string>
    <string>bar</string>
    <string>eight.001</string>
    <string>ampersant.salt</string>
    <string>five.001</string>
    <string>zero.001</string>
    <string>uniFB29</string>
    <string>currency</string>
    <string>section</string>
    <string>logicalnot</string>
    <string>degree</string>
    <string>paragraph</string>
    <string>uni0308</string>
    <string>ellipsis</string>
    <string>dagger</string>
    <string>daggerdbl</string>
  </array>
</dict>
</plist>
