<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.notdef</key>
	<string>_notdef.glif</string>
	<key>Eth</key>
	<string>E_th.glif</string>
	<key>Euro</key>
	<string>E_uro.glif</string>
	<key>_0000</key>
	<string>_0000.glif</string>
	<key>afii57645</key>
	<string>afii57645.glif</string>
	<key>afii57658</key>
	<string>afii57658.glif</string>
	<key>afii57716</key>
	<string>afii57716.glif</string>
	<key>afii57717</key>
	<string>afii57717.glif</string>
	<key>afii57718</key>
	<string>afii57718.glif</string>
	<key>afii57803</key>
	<string>afii57803.glif</string>
	<key>afii57804</key>
	<string>afii57804.glif</string>
	<key>afii57839</key>
	<string>afii57839.glif</string>
	<key>afii67842</key>
	<string>afii67842.glif</string>
	<key>alefhebrew</key>
	<string>alefhebrew.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersant.salt</key>
	<string>ampersant.salt.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>asciicircum</key>
	<string>asciicircum.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>ayinhebrew</key>
	<string>ayinhebrew.glif</string>
	<key>backslash</key>
	<string>backslash.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>betdageshhebrew</key>
	<string>betdageshhebrew.glif</string>
	<key>bethebrew</key>
	<string>bethebrew.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>bullet</key>
	<string>bullet.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>currency</key>
	<string>currency.glif</string>
	<key>dageshhebrew</key>
	<string>dageshhebrew.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>dagger.001</key>
	<string>dagger.001.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>daggerdbl.001</key>
	<string>daggerdbl.001.glif</string>
	<key>daletdageshhebrew</key>
	<string>daletdageshhebrew.glif</string>
	<key>dalethebrew</key>
	<string>dalethebrew.glif</string>
	<key>degree</key>
	<string>degree.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dollar</key>
	<string>dollar.glif</string>
	<key>eight</key>
	<string>eight.glif</string>
	<key>eight.001</key>
	<string>eight.001.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emdash</key>
	<string>emdash.glif</string>
	<key>endash</key>
	<string>endash.glif</string>
	<key>equal</key>
	<string>equal.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>finalkafdageshhebrew</key>
	<string>finalkafdageshhebrew.glif</string>
	<key>finalkafhebrew</key>
	<string>finalkafhebrew.glif</string>
	<key>finalkafwithqamats</key>
	<string>finalkafwithqamats.glif</string>
	<key>finalmemhebrew</key>
	<string>finalmemhebrew.glif</string>
	<key>finalnunhebrew</key>
	<string>finalnunhebrew.glif</string>
	<key>finalpehebrew</key>
	<string>finalpehebrew.glif</string>
	<key>finaltsadihebrew</key>
	<string>finaltsadihebrew.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>five.001</key>
	<string>five.001.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>four.001</key>
	<string>four.001.glif</string>
	<key>gimeldageshhebrew</key>
	<string>gimeldageshhebrew.glif</string>
	<key>gimelhebrew</key>
	<string>gimelhebrew.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>greaterequal</key>
	<string>greaterequal.glif</string>
	<key>guillemotleft</key>
	<string>guillemotleft.glif</string>
	<key>guillemotright</key>
	<string>guillemotright.glif</string>
	<key>guilsinglleft</key>
	<string>guilsinglleft.glif</string>
	<key>guilsinglright</key>
	<string>guilsinglright.glif</string>
	<key>hatafpatahhebrew</key>
	<string>hatafpatahhebrew.glif</string>
	<key>hatafqamatshebrew</key>
	<string>hatafqamatshebrew.glif</string>
	<key>hatafsegolhebrew</key>
	<string>hatafsegolhebrew.glif</string>
	<key>hedageshhebrew</key>
	<string>hedageshhebrew.glif</string>
	<key>hehebrew</key>
	<string>hehebrew.glif</string>
	<key>hethebrew</key>
	<string>hethebrew.glif</string>
	<key>hiriqhebrew</key>
	<string>hiriqhebrew.glif</string>
	<key>holamhebrew</key>
	<string>holamhebrew.glif</string>
	<key>hyphen</key>
	<string>hyphen.glif</string>
	<key>kafdageshhebrew</key>
	<string>kafdageshhebrew.glif</string>
	<key>kafhebrew</key>
	<string>kafhebrew.glif</string>
	<key>lameddageshhebrew</key>
	<string>lameddageshhebrew.glif</string>
	<key>lamedhebrew</key>
	<string>lamedhebrew.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>logicalnot</key>
	<string>logicalnot.glif</string>
	<key>memdageshhebrew</key>
	<string>memdageshhebrew.glif</string>
	<key>memhebrew</key>
	<string>memhebrew.glif</string>
	<key>minus</key>
	<string>minus.glif</string>
	<key>multiply</key>
	<string>multiply.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>nine.001</key>
	<string>nine.001.glif</string>
	<key>numbersign</key>
	<string>numbersign.glif</string>
	<key>nundageshhebrew</key>
	<string>nundageshhebrew.glif</string>
	<key>nunhebrew</key>
	<string>nunhebrew.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.001</key>
	<string>one.001.glif</string>
	<key>orn.1</key>
	<string>orn.1.glif</string>
	<key>orn.2</key>
	<string>orn.2.glif</string>
	<key>orn.3</key>
	<string>orn.3.glif</string>
	<key>orn.4</key>
	<string>orn.4.glif</string>
	<key>paragraph</key>
	<string>paragraph.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>patahhebrew</key>
	<string>patahhebrew.glif</string>
	<key>pedageshhebrew</key>
	<string>pedageshhebrew.glif</string>
	<key>pehebrew</key>
	<string>pehebrew.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>periodcentered</key>
	<string>periodcentered.glif</string>
	<key>plus</key>
	<string>plus.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>qamatshebrew</key>
	<string>qamatshebrew.glif</string>
	<key>qamatsqatanhebrew</key>
	<string>qamatsqatanhebrew.glif</string>
	<key>qofdageshhebrew</key>
	<string>qofdageshhebrew.glif</string>
	<key>qofhebrew</key>
	<string>qofhebrew.glif</string>
	<key>qubutshebrew</key>
	<string>qubutshebrew.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotedblleft</key>
	<string>quotedblleft.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>quotesingle</key>
	<string>quotesingle.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>rafehebrew</key>
	<string>rafehebrew.glif</string>
	<key>reshhebrew</key>
	<string>reshhebrew.glif</string>
	<key>reshholamhebrew</key>
	<string>reshholamhebrew.glif</string>
	<key>samekhdageshhebrew</key>
	<string>samekhdageshhebrew.glif</string>
	<key>samekhhebrew</key>
	<string>samekhhebrew.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>segolhebrew</key>
	<string>segolhebrew.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>seven.001</key>
	<string>seven.001.glif</string>
	<key>shekel.salt</key>
	<string>shekel.salt.glif</string>
	<key>sheqelhebrew</key>
	<string>sheqelhebrew.glif</string>
	<key>shevahebrew</key>
	<string>shevahebrew.glif</string>
	<key>shindageshhebrew</key>
	<string>shindageshhebrew.glif</string>
	<key>shindageshshindothebrew</key>
	<string>shindageshshindothebrew.glif</string>
	<key>shindageshsindothebrew</key>
	<string>shindageshsindothebrew.glif</string>
	<key>shinhebrew</key>
	<string>shinhebrew.glif</string>
	<key>shinshindothebrew</key>
	<string>shinshindothebrew.glif</string>
	<key>shinsindothebrew</key>
	<string>shinsindothebrew.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>six.001</key>
	<string>six.001.glif</string>
	<key>slash</key>
	<string>slash.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>sterling</key>
	<string>sterling.glif</string>
	<key>tavdageshhebrew</key>
	<string>tavdageshhebrew.glif</string>
	<key>tavhebrew</key>
	<string>tavhebrew.glif</string>
	<key>tetdageshhebrew</key>
	<string>tetdageshhebrew.glif</string>
	<key>tethebrew</key>
	<string>tethebrew.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>three.001</key>
	<string>three.001.glif</string>
	<key>tsadidageshhebrew</key>
	<string>tsadidageshhebrew.glif</string>
	<key>tsadihebrew</key>
	<string>tsadihebrew.glif</string>
	<key>tserehebrew</key>
	<string>tserehebrew.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>two.001</key>
	<string>two.001.glif</string>
	<key>uni0308</key>
	<string>uni0308.glif</string>
	<key>uni0591</key>
	<string>uni0591.glif</string>
	<key>uni0592</key>
	<string>uni0592.glif</string>
	<key>uni0593</key>
	<string>uni0593.glif</string>
	<key>uni0594</key>
	<string>uni0594.glif</string>
	<key>uni0595</key>
	<string>uni0595.glif</string>
	<key>uni0596</key>
	<string>uni0596.glif</string>
	<key>uni0597</key>
	<string>uni0597.glif</string>
	<key>uni0598</key>
	<string>uni0598.glif</string>
	<key>uni0599</key>
	<string>uni0599.glif</string>
	<key>uni059A</key>
	<string>uni059A_.glif</string>
	<key>uni059B</key>
	<string>uni059B_.glif</string>
	<key>uni059C</key>
	<string>uni059C_.glif</string>
	<key>uni059D</key>
	<string>uni059D_.glif</string>
	<key>uni059E</key>
	<string>uni059E_.glif</string>
	<key>uni059F</key>
	<string>uni059F_.glif</string>
	<key>uni05A0</key>
	<string>uni05A_0.glif</string>
	<key>uni05A1</key>
	<string>uni05A_1.glif</string>
	<key>uni05A3</key>
	<string>uni05A_3.glif</string>
	<key>uni05A4</key>
	<string>uni05A_4.glif</string>
	<key>uni05A5</key>
	<string>uni05A_5.glif</string>
	<key>uni05A6</key>
	<string>uni05A_6.glif</string>
	<key>uni05A7</key>
	<string>uni05A_7.glif</string>
	<key>uni05A8</key>
	<string>uni05A_8.glif</string>
	<key>uni05A9</key>
	<string>uni05A_9.glif</string>
	<key>uni05AA</key>
	<string>uni05A_A_.glif</string>
	<key>uni05AB</key>
	<string>uni05A_B_.glif</string>
	<key>uni05AC</key>
	<string>uni05A_C_.glif</string>
	<key>uni05AD</key>
	<string>uni05A_D_.glif</string>
	<key>uni05AE</key>
	<string>uni05A_E_.glif</string>
	<key>uni05AF</key>
	<string>uni05A_F_.glif</string>
	<key>uni05C4</key>
	<string>uni05C_4.glif</string>
	<key>uni05F3</key>
	<string>uni05F_3.glif</string>
	<key>uni05F4</key>
	<string>uni05F_4.glif</string>
	<key>uniFB1D</key>
	<string>uniF_B_1D_.glif</string>
	<key>uniFB1E</key>
	<string>uniF_B_1E_.glif</string>
	<key>uniFB1F</key>
	<string>uniF_B_1F_.glif</string>
	<key>uniFB20</key>
	<string>uniF_B_20.glif</string>
	<key>uniFB21</key>
	<string>uniF_B_21.glif</string>
	<key>uniFB22</key>
	<string>uniF_B_22.glif</string>
	<key>uniFB23</key>
	<string>uniF_B_23.glif</string>
	<key>uniFB24</key>
	<string>uniF_B_24.glif</string>
	<key>uniFB25</key>
	<string>uniF_B_25.glif</string>
	<key>uniFB26</key>
	<string>uniF_B_26.glif</string>
	<key>uniFB27</key>
	<string>uniF_B_27.glif</string>
	<key>uniFB28</key>
	<string>uniF_B_28.glif</string>
	<key>uniFB29</key>
	<string>uniF_B_29.glif</string>
	<key>uniFB2E</key>
	<string>uniF_B_2E_.glif</string>
	<key>uniFB2E.001</key>
	<string>uniF_B_2E_.001.glif</string>
	<key>uniFB30</key>
	<string>uniF_B_30.glif</string>
	<key>uniFB4F</key>
	<string>uniF_B_4F_.glif</string>
	<key>vavdagesh65</key>
	<string>vavdagesh65.glif</string>
	<key>vavdageshhebrew</key>
	<string>vavdageshhebrew.glif</string>
	<key>vavhebrew</key>
	<string>vavhebrew.glif</string>
	<key>vavholamhebrew</key>
	<string>vavholamhebrew.glif</string>
	<key>verticalbar</key>
	<string>verticalbar.glif</string>
	<key>yoddageshhebrew</key>
	<string>yoddageshhebrew.glif</string>
	<key>yodhebrew</key>
	<string>yodhebrew.glif</string>
	<key>zayindageshhebrew</key>
	<string>zayindageshhebrew.glif</string>
	<key>zayinhebrew</key>
	<string>zayinhebrew.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.001</key>
	<string>zero.001.glif</string>
</dict>
</plist>
